# 8 –£–†–û–ö –û–ö–û–ù–ù–´–ï –§–£–ù–ö–¶–ò–ò

# 6

In [ ]:
–í–æ–∑–º–æ–∂–Ω–æ –≤—ã –æ –Ω–∏—Ö –∑–∞–±—ã–ª–∏, –Ω–æ –æ–Ω–∏ –≤–µ—Ä–Ω—É–ª–∏—Å—å! –î–∞–Ω–Ω—ã–µ –ø–æ –ø—Ä–æ–¥–∞–∂–∞–º –∞–≤–æ–∫–∞–¥–æ ü•ë: 
Note: –ö–∞–∫ –∑–∞–π—Ç–∏ –≤ Redash? –ì–¥–µ –ª–µ–∂–∞—Ç –¥–∞–Ω–Ω—ã–µ?

date ‚Äî –¥–∞—Ç–∞
average_price ‚Äî —Å—Ä–µ–¥–Ω—è—è —Ü–µ–Ω–∞ –æ–¥–Ω–æ–≥–æ –∞–≤–æ–∫–∞–¥–æ
total_volume ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–¥–∞–Ω–Ω—ã—Ö –∞–≤–æ–∫–∞–¥–æ
plu4046 ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–¥–∞–Ω–Ω—ã—Ö –∞–≤–æ–∫–∞–¥–æ PLU* 4046
plu4225 ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–¥–∞–Ω–Ω—ã—Ö –∞–≤–æ–∫–∞–¥–æ PLU 4225
plu4770 ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–¥–∞–Ω–Ω—ã—Ö –∞–≤–æ–∫–∞–¥–æ PLU 4770
total_bags ‚Äî –≤—Å–µ–≥–æ —É–ø–∞–∫–æ–≤–æ–∫
small_bags ‚Äî –º–∞–ª–µ–Ω—å–∫–∏–µ —É–ø–∞–∫–æ–≤–∫–∏
large_bags ‚Äî –±–æ–ª—å—à–∏–µ
xlarge_bags ‚Äî –æ—á–µ–Ω—å –±–æ–ª—å—à–∏–µ
type ‚Äî –æ–±—ã—á–Ω—ã–π –∏–ª–∏ –æ—Ä–≥–∞–Ω–∏—á–µ—Å–∫–∏–π
year ‚Äî –≥–æ–¥
region ‚Äî –≥–æ—Ä–æ–¥ –∏–ª–∏ —Ä–µ–≥–∏–æ–Ω (TotalUS ‚Äì —Å—Ä–∞–∑—É –ø–æ –°–®–ê)
–í —Ç–∞–±–ª–∏—Ü–µ –Ω–∞—Ö–æ–¥—è—Ç—Å—è –¥–∞–Ω–Ω—ã–µ –Ω–µ –∑–∞ –∫–∞–∂–¥—ã–π –¥–µ–Ω—å, –∞ –∑–∞ –∫–æ–Ω–µ—Ü –∫–∞–∂–¥–æ–π –Ω–µ–¥–µ–ª–∏. –î–ª—è –∫–∞–∂–¥–æ–π –¥–∞—Ç—ã –µ—Å—Ç—å –Ω–µ—Å–∫–æ–ª—å–∫–æ –Ω–∞–±–ª—é–¥–µ–Ω–∏–π, –æ—Ç–ª–∏—á–∞—é—â–∏—Ö—Å—è –ø–æ —Ç–∏–ø—É –∞–≤–æ–∫–∞–¥–æ –∏ —Ä–µ–≥–∏–æ–Ω—É –ø—Ä–æ–¥–∞–∂–∏. 


*PLU ‚Äî –∫–æ–¥ —Ç–æ–≤–∞—Ä–∞ (Product Lookup code)

–ï—Å–ª–∏ —É –í–∞—Å –µ—Å—Ç—å –≤–æ–ø—Ä–æ—Å—ã, –Ω–∞–ø–∏—à–∏—Ç–µ —Å—é–¥–∞.

# 7

In [ ]:
–î–∞–≤–∞–π—Ç–µ –ø–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ –ø—Ä–æ–¥–∞–∂–∏ –∞–≤–æ–∫–∞–¥–æ –≤ –¥–≤—É—Ö –≥–æ—Ä–æ–¥–∞—Ö (NewYork, LosAngeles) –∏ —É–∑–Ω–∞–µ–º, —Å–∫–æ–ª—å–∫–æ –∞–≤–æ–∫–∞–¥–æ —Ç–∏–ø–∞ organic –±—ã–ª–æ –ø—Ä–æ–¥–∞–Ω–æ –≤ —Ü–µ–ª–æ–º –∫ –∫–æ–Ω—Ü—É –∫–∞–∂–¥–æ–π –Ω–µ–¥–µ–ª–∏ (–Ω–∞–∫–æ–ø–∏—Ç–µ–ª—å–Ω–∞—è —Å—É–º–º–∞ –ø—Ä–æ–¥–∞–∂), –Ω–∞—á–∏–Ω–∞—è —Å –Ω–∞—á–∞–ª–∞ –ø–µ—Ä–∏–æ–¥–∞ –Ω–∞–±–ª—é–¥–µ–Ω–∏–π (04/01/15). –ü—Ä–∏–º–µ—Ä —Ä–µ–∑—É–ª—å—Ç–∏—Ä—É—é—â–µ–π —Ç–∞–±–ª–∏—Ü—ã:

region	date	total_volume 	volume
NewYork	 04/01/15	17328.24 	17328.24 
NewYork	 11/01/15	14817.97 	32146.21 
NewYork	 18/01/15	9204.78 	41350.99 
NewYork	 25/01/15	14337.32 	55688.31 
NewYork	 01/02/15	24697.84 	80386.15 
LosAngeles 	 04/01/15	54495.54 	54495.54 
LosAngeles 	 11/01/15	60232.63 	114728.17 
–ó–Ω–∞—á–µ–Ω–∏—è –≤–Ω—É—Ç—Ä–∏ –æ–∫–Ω–∞ —Å–æ—Ä—Ç–∏—Ä—É–π—Ç–µ –ø–æ –¥–∞—Ç–µ, –∞ —Å–∞–º—É —Ç–∞–±–ª–∏—Ü—É –æ—Ç—Å–æ—Ä—Ç–∏—Ä—É–π—Ç–µ –ø–æ —É–±—ã–≤–∞–Ω–∏—é —Ä–µ–≥–∏–æ–Ω–∞ (—Å–Ω–∞—á–∞–ª–∞ NY, –ø–æ—Ç–æ–º LA) –∏ –ø–æ –≤–æ–∑—Ä–∞—Å—Ç–∞–Ω–∏—é –¥–∞—Ç—ã.

–í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ —É–∫–∞–∂–∏—Ç–µ –æ–±—ä–µ–º –ø—Ä–æ–¥–∞–∂ –≤ –ù—å—é –ô–æ—Ä–∫–µ –Ω–∞ 01/03/15 (–±–µ–∑ –∑–∞–ø—è—Ç—ã—Ö).

Hint: –ø—Ä–∏–º–µ—Ä —Å–∏–Ω—Ç–∞–∫—Å–∏—Å–∞

In [ ]:
- **–ö–∞–∫ —Ä–µ—à–∏—Ç—å —ç—Ç–æ –∑–∞–¥–∞–Ω–∏–µ?**
    
    –í —ç—Ç–æ–º –∑–∞–¥–∞–Ω–∏–∏ –Ω—É–∂–Ω–æ: 
    
    - –ù–∞–ø–∏—Å–∞—Ç—å –∑–∞–ø—Ä–æ—Å, –≥–¥–µ `region` **NewYork** –∏–ª–∏ **LosAngeles,** `type` **organic** –∏ `date` –±–æ–ª—å—à–µ –∏–ª–∏ —Ä–∞–≤–Ω–∞ 04/01/15.
    - –ù–∞–ø–∏—Å–∞—Ç—å –æ–∫–æ–Ω–Ω—É—é —Ñ—É–Ω–∫—Ü–∏—é –∏ –ø–æ—Å—á–∏—Ç–∞—Ç—å —Å–∫–æ–ª—å–∫–æ –∞–≤–æ–∫–∞–¥–æ –±—ã–ª–æ –ø—Ä–æ–¥–∞–Ω–æ –≤ —Ü–µ–ª–æ–º –∫ –∫–æ–Ω—Ü—É –∫–∞–∂–¥–æ–π –Ω–µ–¥–µ–ª–∏.
    - –ó–Ω–∞—á–µ–Ω–∏—è **–≤–Ω—É—Ç—Ä–∏ –æ–∫–Ω–∞** –æ—Ç—Å–æ—Ä—Ç–∏—Ä–æ–≤–∞—Ç—å –ø–æ `date`, –∞ **—Å–∞–º—É —Ç–∞–±–ª–∏—Ü—É** 
    –æ—Ç—Å–æ—Ä—Ç–∏—Ä–æ–≤–∞—Ç—å –ø–æ —É–±—ã–≤–∞–Ω–∏—é `region` (—Å–Ω–∞—á–∞–ª–∞ NY, –ø–æ—Ç–æ–º LA) –∏ –ø–æ –≤–æ–∑—Ä–∞—Å—Ç–∞–Ω–∏—é `date`.
    - –í –æ—Ç–≤–µ—Ç–µ —É–∫–∞–∑–∞—Ç—å –æ–±—ä–µ–º –ø—Ä–æ–¥–∞–∂ –≤ **NewYork** –Ω–∞ 01/03/15.
- **–ü—Ä–∏–º–µ—Ä —Å–∏–Ω—Ç–∞–∫—Å–∏—Å–∞**
    
    ```sql
    SELECT
        city,
        date,
        revenue,
        SUM(revenue) OVER w AS revenue_sum
    FROM 
        data
    WINDOW w AS
        (
        PARTITION BY city
        ORDER BY date ASC
        ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
        )
    ORDER BY
        city ASC,
        date ASC
    ```
    
- **–Ø –≤—Å—ë —Å–¥–µ–ª–∞–ª(–∞) –∫–∞–∫ –Ω–∞–¥–æ, –ø–æ—á–µ–º—É –º–æ–π –æ—Ç–≤–µ—Ç –Ω–µ –ø—Ä–∏–Ω–∏–º–∞—é—Ç?**
    
    –í ClickHouse –Ω–µ—Ç –æ–∫–æ–Ω–Ω—ã—Ö —Ñ—É–Ω–∫—Ü–∏–π, –ø–æ—ç—Ç–æ–º—É –Ω–µ –∑–∞–±—É–¥—å—Ç–µ –ø–æ–¥–∫–ª—é—á–∏—Ç—å—Å—è –∫ Postgres. 
    –¢–∞–∫–∂–µ, –ø—Ä–æ–≤–µ—Ä—å—Ç–µ, —á—Ç–æ –≤ –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ —É–∫–∞–∑—ã–≤–∞–µ—Ç–µ –æ–±—ä–µ–º –ø—Ä–æ–¥–∞–∂ –≤ **NewYork** –Ω–∞ **01/03/15.**

In [ ]:
SELECT
        region,
        date,
        total_volume,
        SUM(total_volume) OVER w AS volume
FROM avocado
WHERE region IN ('NewYork', 'LosAngeles') AND type = 'organic' AND date >= '2015-01-04'
    WINDOW w AS
        (
        PARTITION BY region
        ORDER BY date ASC
        ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
        )
ORDER BY
    region DESC,
    date ASC

region
date
total_volume
volume
NewYork
04/01/15	17,328.24	17,328.24	
NewYork
11/01/15	14,817.97	32,146.21	
NewYork
18/01/15	9,204.78	41,350.99	
NewYork
25/01/15	14,337.32	55,688.31	
NewYork
01/02/15	24,697.84	80,386.15	
NewYork
08/02/15	22,571.11	102,957.26	
NewYork
15/02/15	25,037.76	127,995.02	
NewYork
22/02/15	16,620.69	144,615.71	
NewYork
01/03/15	20,787.25	165,402.96

###### –û–¢–í–ï–¢: 165402.96

## 8

–¢–µ–ø–µ—Ä—å –¥–æ–±–∞–≤—å—Ç–µ —Ä–∞–∑–±–∏–≤–∫—É –ø–æ –∫–∞–∂–¥–æ–º—É –≥–æ–¥—É (year). –¢–∞–∫–∏–º –æ–±—Ä–∞–∑–æ–º, 

–≤ –∫–æ–Ω—Ü–µ —Ñ–µ–≤—Ä–∞–ª—è 2016 –≥–æ–¥–∞ –æ–±—ä–µ–º —Å–æ—Å—Ç–∞–≤—è—Ç —É–∂–µ –Ω–µ –ø—Ä–æ–¥–∞–∂–∏ –∑–∞ 2015 –∏ —è–Ω–≤–∞—Ä—å-—Ñ–µ–≤—Ä–∞–ª—å 2016, –∞ —Ç–æ–ª—å–∫–æ –∑–∞ —è–Ω–≤–∞—Ä—å-—Ñ–µ–≤—Ä–∞–ª—å 2016.

–ö–æ–≥–¥–∞ –æ–±—ä–µ–º—ã –ø—Ä–æ–¥–∞–∂ –æ—Ä–≥–∞–Ω–∏—á–µ—Å–∫–∏—Ö –∞–≤–æ–∫–∞–¥–æ –≤ –ù—å—é-–ô–æ—Ä–∫–µ –ø—Ä–µ–≤—ã—Å–∏–ª–∏ –æ–±—ä–µ–º—ã –ø—Ä–æ–¥–∞–∂ –≤ –õ–æ—Å-–ê–Ω–¥–∂–µ–ª–µ—Å–µ?

–î–ª—è —Ä–µ—à–µ–Ω–∏—è –∑–∞–¥–∞—á–∏ –ø–æ—Å—Ç—Ä–æ–π—Ç–µ –≥—Ä–∞—Ñ–∏–∫ –æ–±—ä–µ–º–∞ –ø—Ä–æ–¥–∞–∂ –≤ –¥–≤—É—Ö –≥–æ—Ä–æ–¥–∞—Ö, –≥–¥–µ –ø–æ –æ—Å–∏ X –±—É–¥–µ—Ç –ª–µ–∂–∞—Ç—å –¥–∞—Ç–∞.

## - **–ö–∞–∫ —Ä–µ—à–∏—Ç—å —ç—Ç–æ –∑–∞–¥–∞–Ω–∏–µ?**
    
    –í —ç—Ç–æ–º –∑–∞–¥–∞–Ω–∏–∏ –Ω—É–∂–Ω–æ –Ω—É–∂–Ω–æ –º–æ–¥–∏—Ñ–∏—Ü–∏—Ä–æ–≤–∞—Ç—å –ø—Ä–æ—à–ª—ã–π –∑–∞–ø—Ä–æ—Å —Ç–∞–∫, —á—Ç–æ –≤ –≤–∞—à–µ–π –æ–∫–æ–Ω–Ω–æ–π —Ñ—É–Ω–∫—Ü–∏–∏ –≤ PARTITION BY –±—ã–ª –µ—â–µ –∏ –≥–æ–¥.
    
    - –ù–∞–ø–∏—Å–∞—Ç—å –∑–∞–ø—Ä–æ—Å, –≥–¥–µ `region` **NewYork** –∏–ª–∏ **LosAngeles, –∞** `type` **organic**
    - –ù–∞–ø–∏—Å–∞—Ç—å –æ–∫–æ–Ω–Ω—É—é —Ñ—É–Ω–∫—Ü–∏—é –∏ –ø–æ—Å—á–∏—Ç–∞—Ç—å —Å–∫–æ–ª—å–∫–æ –∞–≤–æ–∫–∞–¥–æ –±—ã–ª–æ –ø—Ä–æ–¥–∞–Ω–æ –≤ —Ü–µ–ª–æ–º –∫ –∫–æ–Ω—Ü—É –∫–∞–∂–¥–æ–π –Ω–µ–¥–µ–ª–∏. –†–∞–∑–±–∏–µ–Ω–∏–µ –ø–æ –∫–∞–∂–¥–æ–º—É –≥–æ–¥—É (year).
    - –ó–Ω–∞—á–µ–Ω–∏—è **–≤–Ω—É—Ç—Ä–∏ –æ–∫–Ω–∞** –æ—Ç—Å–æ—Ä—Ç–∏—Ä–æ–≤–∞—Ç—å –ø–æ `date`, –∞ **—Å–∞–º—É —Ç–∞–±–ª–∏—Ü—É** –æ—Ç—Å–æ—Ä—Ç–∏—Ä–æ–≤–∞—Ç—å –ø–æ —É–±—ã–≤–∞–Ω–∏—é `region` (—Å–Ω–∞—á–∞–ª–∞ NY, –ø–æ—Ç–æ–º LA) –∏ –ø–æ –≤–æ–∑—Ä–∞—Å—Ç–∞–Ω–∏—é `date`.
    - –ü–æ—Å—Ç—Ä–æ–∏—Ç—å –≥—Ä–∞—Ñ–∏–∫ –æ–±—ä–µ–º–∞ –ø—Ä–æ–¥–∞–∂ –≤ –¥–≤—É—Ö –≥–æ—Ä–æ–¥–∞—Ö, –≥–¥–µ –ø–æ **–æ—Å–∏ X** –±—É–¥–µ—Ç –ª–µ–∂–∞—Ç—å –¥–∞—Ç–∞, –∞ –ø–æ **–æ—Å–∏ Y** –æ–±—ä–µ–º—ã –ø—Ä–æ–¥–∞–∂ –∏ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞—Ç—å –ø–æ —Ä–µ–≥–∏–æ–Ω—É.
- **–ü—Ä–∏–º–µ—Ä —Å–∏–Ω—Ç–∞–∫—Å–∏—Å–∞**
    
    ```sql
    SELECT
        city,
        date,
        revenue,
        SUM(revenue) OVER w AS revenue_sum
    FROM 
        data
    WINDOW w AS
        (
        PARTITION BY city
        ORDER BY date ASC
        ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
        )
    ORDER BY
        city ASC,
        date ASC
    ```
    
- **–Ø –≤—Å—ë —Å–¥–µ–ª–∞–ª(–∞) –∫–∞–∫ –Ω–∞–¥–æ, –ø–æ—á–µ–º—É –º–æ–π –æ—Ç–≤–µ—Ç –Ω–µ –ø—Ä–∏–Ω–∏–º–∞—é—Ç?**
    
    –í ClickHouse –Ω–µ—Ç –æ–∫–æ–Ω–Ω—ã—Ö —Ñ—É–Ω–∫—Ü–∏–π, –ø–æ—ç—Ç–æ–º—É –Ω–µ –∑–∞–±—É–¥—å—Ç–µ –ø–æ–¥–∫–ª—é—á–∏—Ç—å—Å—è –∫ Postgres. –¢–∞–∫–∂–µ, –ª—É—á—à–µ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å Line chart

In [ ]:
# –ë–õ–ò–ù –¢–£–ü–û , year –∏ –≤—Å–µ!!!
SELECT
        region,
        year,
        date,
        total_volume,
        SUM(total_volume) OVER w AS volume
FROM avocado
WHERE region IN ('NewYork', 'LosAngeles') AND type = 'organic' AND date >= '2015-01-04'
    WINDOW w AS
        (
        PARTITION BY region, year
        ORDER BY date ASC
        ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
        )
ORDER BY
    region DESC,
    date ASC

###### –û–¢–í–ï–¢: –í —Ñ–µ–≤—Ä–∞–ª–µ 2018

# 9

–ü–æ—Å–º–æ—Ç—Ä–∏–º, –∫–æ–≥–¥–∞ –æ–±—ä–µ–º—ã –ø—Ä–æ–¥–∞–∂ –æ–±—ã—á–Ω—ã—Ö (conventional) –∞–≤–æ–∫–∞–¥–æ —Ä–µ–∑–∫–æ –ø–∞–¥–∞–ª–∏ –ø–æ —Å—Ä–∞–≤–Ω–µ–Ω–∏—é —Å –ø—Ä–µ–¥—ã–¥—É—â–µ–π –Ω–µ–¥–µ–ª–µ–π. –í–æ–∑—å–º–∏—Ç–µ –¥–∞–Ω–Ω—ã–µ –ø–æ –°–®–ê –≤ —Ü–µ–ª–æ–º, –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ —Ä–∞–∑–Ω–∏—Ü—É –º–µ–∂–¥—É –æ–±—ä–µ–º–æ–º –ø—Ä–æ–¥–∞–∂ –≤ –Ω–µ–¥–µ–ª—é x (total_volume) –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –ø—Ä–æ–¥–∞–Ω–Ω—ã—Ö –∞–≤–æ–∫–∞–¥–æ –≤ —Ç–µ—á–µ–Ω–∏–µ –ø—Ä–µ–¥—ã–¥—É—â–µ–π –Ω–µ–¥–µ–ª–∏. –ó–Ω–∞—á–µ–Ω–∏—è –∑–∞–ø–∏—à–∏—Ç–µ –≤ –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü week_diff.

type ‚Äì —Ç–∏–ø –∞–≤–æ–∫–∞–¥–æ (conventional)
region ‚Äì —Ä–µ–≥–∏–æ–Ω (TotalUS)
total_volume ‚Äì –æ–±—ä–µ–º –ø—Ä–æ–¥–∞–∂ –∑–∞ –Ω–µ–¥–µ–ª—é
–ü—Ä–∏–º–µ—Ä:

date     	total_volume  	region  	type         	week_diff     
04/01/15	31,324,277.73	TotalUS 	conventional 	
11/01/15	29,063,542.75	TotalUS 	conventional 	-2,260,734.98
–í–∏–∑—É–∞–ª–∏–∑–∏—Ä—É–π—Ç–µ —Ä–µ–∑—É–ª—å—Ç–∞—Ç, –≥–¥–µ –ø–æ –æ—Å–∏ x –±—É–¥–µ—Ç —Ä–∞—Å–ø–æ–ª–æ–∂–µ–Ω–∞ –¥–∞—Ç–∞, –∞ –ø–æ –æ—Å–∏ y ‚Äì—Ä–∞–∑–Ω–∏—Ü–∞ –º–µ–∂–¥—É –ø—Ä–æ–¥–∞–∂–∞–º–∏ –≤ x 
t
‚Äã
  –∏ x 
t‚àí1
‚Äã
 . –í—ã–±–µ—Ä–∏—Ç–µ –≤–µ—Ä–Ω—ã–µ —É—Ç–≤–µ—Ä–∂–¥–µ–Ω–∏—è.

 Hint: LAG

In [ ]:
–í —ç—Ç–æ–º –∑–∞–¥–∞–Ω–∏–∏ –Ω—É–∂–Ω–æ: 

- –ù–∞–ø–∏—Å–∞—Ç—å –∑–∞–ø—Ä–æ—Å, –≥–¥–µ `region` **TotalUS,** –∞ ****`type` conventional.
- –ù–∞–ø–∏—Å–∞—Ç—å –æ–∫–æ–Ω–Ω—É—é —Ñ—É–Ω–∫—Ü–∏—é –∏ –ø–æ—Å—á–∏—Ç–∞—Ç—å —Ä–∞–∑–Ω–∏—Ü—É –º–µ–∂–¥—É –æ–±—ä–µ–º–æ–º –ø—Ä–æ–¥–∞–∂¬†–≤ –Ω–µ–¥–µ–ª—é x¬†(`total_volume`) –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –ø—Ä–æ–¥–∞–Ω–Ω—ã—Ö –∞–≤–æ–∫–∞–¥–æ –≤ —Ç–µ—á–µ–Ω–∏–µ –ø—Ä–µ–¥—ã–¥—É—â–µ–π¬†–Ω–µ–¥–µ–ª–∏ –∏—Å–ø–æ–ª—å–∑—É—è `lag()`.
- –ó–Ω–∞—á–µ–Ω–∏—è **–≤–Ω—É—Ç—Ä–∏ –æ–∫–Ω–∞** –æ—Ç—Å–æ—Ä—Ç–∏—Ä–æ–≤–∞—Ç—å –ø–æ `date`
- –í–∏–∑—É–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å —Ä–µ–∑—É–ª—å—Ç–∞—Ç, –≥–¥–µ –ø–æ –æ—Å–∏ x –±—É–¥–µ—Ç —Ä–∞—Å–ø–æ–ª–æ–∂–µ–Ω–∞ –¥–∞—Ç–∞, –∞ –ø–æ –æ—Å–∏ y ‚Äì—Ä–∞–∑–Ω–∏—Ü–∞ –º–µ–∂–¥—É –ø—Ä–æ–¥–∞–∂–∞–º–∏

In [ ]:
SELECT
        date,
        total_volume,
        region,
        type,
        total_volume  - LAG(total_volume, 1) OVER w   AS week_diff
FROM avocado
WHERE region IN ('TotalUS') AND type = 'conventional'
    WINDOW w AS
        (
        --PARTITION BY region, year
        ORDER BY date ASC
        --ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
        )
ORDER BY
    date ASC

date
total_volume
region
type
week_diff
04/01/15	31,324,277.73	
TotalUS
conventional
11/01/15	29,063,542.75	
TotalUS
conventional
-2,260,734.98	
18/01/15	29,043,458.85	
TotalUS
conventional
-20,083.90	
25/01/15	28,470,310.84	
TotalUS
conventional
-573,148.01	
01/02/15	44,655,461.51	
TotalUS
conventional
16,185,150.67	
08/02/15	32,137,333.01	
TotalUS
conventional
-12,518,128.50	
15/02/15	28,012,520.93	
TotalUS
conventional
-4,124,812.08	
22/02/15	29,936,729.76	
TotalUS
conventional
1,924,208.83	
01/03/15	32,994,014.16	
TotalUS
conventional
3,057,284.40	
08/03/15	30,094,698.85	
TotalUS
conventional
-2,899,315.31

##### –û–¢–í–ï–¢:
–°–∞–º—ã–µ –±–æ–ª—å—à–∏–µ –ø–∞–¥–µ–Ω–∏—è –æ–±—ä–µ–º–æ–≤ –ø—Ä–æ–¥–∞–∂ –∞–≤–æ–∫–∞–¥–æ –ø—Ä–æ–∏—Å—Ö–æ–¥–∏–ª–∏ –≤ —Ñ–µ–≤—Ä–∞–ª–µ

–°–∞–º–æ–µ –∫—Ä—É–ø–Ω–æ–µ –ø–∞–¥–µ–Ω–∏–µ –æ–±—ä–µ–º–æ–≤ –ø—Ä–æ–¥–∞–∂ –ø–æ —Å—Ä–∞–≤–Ω–µ–Ω–∏—é —Å –ø—Ä–µ–¥—ã–¥—É—â–µ–π –Ω–µ–¥–µ–ª–µ–π –ø—Ä–æ–∏–∑–æ—à–ª–æ 12 —Ñ–µ–≤—Ä–∞–ª—è 2017 –≥–æ–¥–∞

## 10

–ü–æ—Å–º–æ—Ç—Ä–∏–º –±–æ–ª–µ–µ –ø–æ–¥—Ä–æ–±–Ω–æ –Ω–∞ –æ–±—ä–µ–º—ã –ø—Ä–æ–¥–∞–∂ –∞–≤–æ–∫–∞–¥–æ –≤ –ù—å—é-–ô–æ—Ä–∫–µ (NewYork) –≤ 2018 –≥–æ–¥—É. 

–°–æ–∑–¥–∞–π—Ç–µ –∫–æ–ª–æ–Ω–∫—É —Å —Ä–∞–∑–Ω–∏—Ü–µ–π –æ–±—ä–µ–º–æ–≤ –ø—Ä–æ–¥–∞–∂ –∑–∞ –Ω–µ–¥–µ–ª—é –∏ –∑–∞ –Ω–µ–¥–µ–ª—é –¥–æ —ç—Ç–æ–≥–æ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —Ç–∏–ø–∞ –∞–≤–æ–∫–∞–¥–æ. –ù–∞–π–¥–∏—Ç–µ –¥–µ–Ω—å, –∫–æ–≥–¥–∞ –ø—Ä–æ–¥–∞–∂–∏ –∞–≤–æ–∫–∞–¥–æ —Ç–∏–ø–∞ organic —É–≤–µ–ª–∏—á–∏–ª–∏—Å—å –ø–æ —Å—Ä–∞–≤–Ω–µ–Ω–∏—é —Å –ø—Ä–µ–¥—ã–¥—É—â–µ–π –Ω–µ–¥–µ–ª–µ–π, –∞ conventional ‚Äì –Ω–∞–æ–±–æ—Ä–æ—Ç —É–ø–∞–ª–∏. –ï—Å–ª–∏ —Ç–∞–∫–∏—Ö –¥–Ω–µ–π –Ω–µ—Å–∫–æ–ª—å–∫–æ, —Ç–æ —É–∫–∞–∂–∏—Ç–µ –∏—Ö —á–µ—Ä–µ–∑ –∑–∞–ø—è—Ç—É—é —Å –ø—Ä–æ–±–µ–ª–æ–º, —Ñ–æ—Ä–º–∞—Ç ‚Äì 31/12/2020. –ù–∞–ø—Ä–∏–º–µ—Ä:

29/03/2020, 31/12/2020


 Hint: LAG + –¥–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏—è

In [ ]:
- **–ö–∞–∫ —Ä–µ—à–∏—Ç—å —ç—Ç–æ –∑–∞–¥–∞–Ω–∏–µ?**
    
    –í —ç—Ç–æ–º –∑–∞–¥–∞–Ω–∏–∏ –Ω—É–∂–Ω–æ: 
    
    - –ù–∞–ø–∏—Å–∞—Ç—å –∑–∞–ø—Ä–æ—Å, –≥–¥–µ `region` **NewYork,** –∞ ****`year` **2018**.
    - –ù–∞–ø–∏—Å–∞—Ç—å –æ–∫–æ–Ω–Ω—É—é —Ñ—É–Ω–∫—Ü–∏—é –∏ –ø–æ—Å—á–∏—Ç–∞—Ç—å —Ä–∞–∑–Ω–∏—Ü—É –º–µ–∂–¥—É –æ–±—ä–µ–º–æ–º –ø—Ä–æ–¥–∞–∂¬†–≤ –Ω–µ–¥–µ–ª—é x¬†(`total_volume`)
    –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –ø—Ä–æ–¥–∞–Ω–Ω—ã—Ö –∞–≤–æ–∫–∞–¥–æ –≤ —Ç–µ—á–µ–Ω–∏–µ –ø—Ä–µ–¥—ã–¥—É—â–µ–π¬†–Ω–µ–¥–µ–ª–∏ –∏—Å–ø–æ–ª—å–∑—É—è `lag()`.
    - –ó–Ω–∞—á–µ–Ω–∏—è **–≤–Ω—É—Ç—Ä–∏ –æ–∫–Ω–∞** –æ—Ç—Å–æ—Ä—Ç–∏—Ä–æ–≤–∞—Ç—å –ø–æ `date` –∏ —Ä–∞–∑–±–∏—Ç—å –ø–æ `type`, —Å–∞–º—É —Ç–∞–±–ª–∏—Ü—É —Å–æ—Ä—Ç–∏—Ä–æ–≤–∞—Ç—å –ø–æ `type`
    - –í–∏–∑—É–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å —Ä–µ–∑—É–ª—å—Ç–∞—Ç, –≥–¥–µ –ø–æ **–æ—Å–∏ –•** –±—É–¥–µ—Ç —Ä–∞—Å–ø–æ–ª–æ–∂–µ–Ω–∞ –¥–∞—Ç–∞, –∞ –ø–æ **–æ—Å–∏ Y** ‚Äì—Ä–∞–∑–Ω–∏—Ü–∞ –º–µ–∂–¥—É –ø—Ä–æ–¥–∞–∂–∞–º–∏,
    –∏ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞—Ç—å –ø–æ `type`

In [ ]:
SELECT
        date,
        total_volume,
        region,
        type,
        total_volume  - LAG(total_volume, 1) OVER w   AS week_diff
FROM avocado
WHERE region IN ('NewYork') AND year = 2018
    WINDOW w AS
        (
        PARTITION BY type
        ORDER BY date ASC
        --ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
        )
ORDER BY
    type ASC

07/01/18	1,287,480.31	
NewYork
conventional
14/01/18	1,294,149.71	
NewYork
conventional
6,669.40	
21/01/18	2,135,242.76	
NewYork
conventional
841,093.05	
28/01/18	2,278,728.69	
NewYork
conventional
143,485.93	
04/02/18	2,959,541.38	
NewYork
conventional
680,812.69	
11/02/18	2,051,389.99	
NewYork
conventional
-908,151.39	
18/02/18	1,413,687.38	
NewYork
conventional
-637,702.6

##### –û–¢–í–ï–¢: 18/02/2018, 18/03/2018

## 11

–¢–µ–ø–µ—Ä—å –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å–∫–æ–ª—å–∑—è—â–µ–µ —Å—Ä–µ–¥–Ω–µ–µ —Ü–µ–Ω—ã –∞–≤–æ–∫–∞–¥–æ (average_price) –≤ –ù—å—é-–ô–æ—Ä–∫–µ —Å —Ä–∞–∑–±–∏–≤–∫–æ–π –ø–æ —Ç–∏–ø—É –∞–≤–æ–∫–∞–¥–æ. 

–í –∫–∞—á–µ—Å—Ç–≤–µ –æ–∫–Ω–∞ –∏—Å–ø–æ–ª—å–∑—É–π—Ç–µ —Ç–µ–∫—É—â—É—é –Ω–µ–¥–µ–ª—é –∏ –ø—Ä–µ–¥—ã–¥—É—â–∏–µ –¥–≤–µ 

(–æ–±—Ä–∞—Ç–∏—Ç–µ –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ –≤ –¥–∞–Ω–Ω–æ–π —Ç–∞–±–ª–∏—Ü–µ –≤ —Å—Ç—Ä–æ–∫–∞—Ö —Å–æ–¥–µ—Ä–∂–∞—Ç—Å—è –¥–∞–Ω–Ω—ã–µ –∑–∞ –Ω–µ–¥–µ–ª—é, –∞ –Ω–µ –∑–∞ –æ–¥–∏–Ω –¥–µ–Ω—å). 

–ù–∞–ø—Ä–∏–º–µ—Ä 04/01/15, 11/01/15 –∏ 18/01/15 –¥–ª—è –ø–æ–¥—Å—á–µ—Ç–∞ –∑–Ω–∞—á–µ–Ω–∏—è –¥–ª—è 18/01/15.

date     	average_price 	region  	type         	rolling_price 
04/01/15	1.09	NewYork 	conventional 	1.09
11/01/15	1.34	NewYork 	conventional 	1.22
18/01/15 	1.37	NewYork 	conventional 	1.27
25/01/15	1.36	NewYork 	conventional 	1.36
–í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ —É–∫–∞–∂–∏—Ç–µ –ø–æ–ª—É—á–µ–Ω–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –¥–ª—è –æ–±—ã—á–Ω—ã—Ö (conventional) –∞–≤–æ–∫–∞–¥–æ –∑–∞ 17/04/16.

Hint: N PRECEDING ‚Äì N –ø—Ä–µ–¥—ã–¥—É—â–∏—Ö —Å—Ç—Ä–æ–∫

In [ ]:
- **–ö–∞–∫ —Ä–µ—à–∏—Ç—å —ç—Ç–æ –∑–∞–¥–∞–Ω–∏–µ?**
    
    –¢–µ–ø–µ—Ä—å –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å–∫–æ–ª—å–∑—è—â–µ–µ —Å—Ä–µ–¥–Ω–µ–µ —Ü–µ–Ω—ã –∞–≤–æ–∫–∞–¥–æ (`average_price`) –≤ –ù—å—é-–ô–æ—Ä–∫–µ —Å —Ä–∞–∑–±–∏–≤–∫–æ–π –ø–æ —Ç–∏–ø—É
    
    - –ù–∞–ø–∏—Å–∞—Ç—å –∑–∞–ø—Ä–æ—Å, –≥–¥–µ `region` **NewYork**
    - –ù–∞–ø–∏—Å–∞—Ç—å –æ–∫–æ–Ω–Ω—É—é —Ñ—É–Ω–∫—Ü–∏—é –∏ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å–∫–æ–ª—å–∑—è—â–µ–µ —Å—Ä–µ–¥–Ω–µ–µ —Ü–µ–Ω—ã –∞–≤–æ–∫–∞–¥–æ (`average_price`). –†–∞–∑–±–∏–µ–Ω–∏–µ –ø–æ `type`.
    - –ó–Ω–∞—á–µ–Ω–∏—è **–≤–Ω—É—Ç—Ä–∏ –æ–∫–Ω–∞** –æ—Ç—Å–æ—Ä—Ç–∏—Ä–æ–≤–∞—Ç—å –ø–æ `date`
    - –ù—É–∂–Ω–æ –ø–æ—Å—á–∏—Ç–∞—Ç—å —Å–∫–æ–ª—å–∑—è—â–µ–µ –∑–∞ **–¥–≤–µ** –ø—Ä–µ–¥—ã–¥—É—â–∏—Ö –Ω–µ–¥–µ–ª–∏ –∏ —Ç–µ–∫—É—â—É—é(BETWEEN 2 PRECEDING).
    - –í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ —É–∫–∞–∑–∞—Ç—å –ø–æ–ª—É—á–µ–Ω–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –¥–ª—è **conventional** –∞–≤–æ–∫–∞–¥–æ –∑–∞ **17/04/16**.

In [ ]:
–¢–µ–ø–µ—Ä—å –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å–∫–æ–ª—å–∑—è—â–µ–µ —Å—Ä–µ–¥–Ω–µ–µ —Ü–µ–Ω—ã –∞–≤–æ–∫–∞–¥–æ (`average_price`) –≤ –ù—å—é-–ô–æ—Ä–∫–µ —Å —Ä–∞–∑–±–∏–≤–∫–æ–π –ø–æ —Ç–∏–ø—É

- –ù–∞–ø–∏—Å–∞—Ç—å –∑–∞–ø—Ä–æ—Å, –≥–¥–µ `region` **NewYork**
- –ù–∞–ø–∏—Å–∞—Ç—å –æ–∫–æ–Ω–Ω—É—é —Ñ—É–Ω–∫—Ü–∏—é –∏ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å–∫–æ–ª—å–∑—è—â–µ–µ —Å—Ä–µ–¥–Ω–µ–µ —Ü–µ–Ω—ã –∞–≤–æ–∫–∞–¥–æ (`average_price`). –†–∞–∑–±–∏–µ–Ω–∏–µ –ø–æ `type`.
- –ó–Ω–∞—á–µ–Ω–∏—è **–≤–Ω—É—Ç—Ä–∏ –æ–∫–Ω–∞** –æ—Ç—Å–æ—Ä—Ç–∏—Ä–æ–≤–∞—Ç—å –ø–æ `date`
- –ù—É–∂–Ω–æ –ø–æ—Å—á–∏—Ç–∞—Ç—å —Å–∫–æ–ª—å–∑—è—â–µ–µ –∑–∞ **–¥–≤–µ** –ø—Ä–µ–¥—ã–¥—É—â–∏—Ö –Ω–µ–¥–µ–ª–∏ –∏ —Ç–µ–∫—É—â—É—é(BETWEEN 2 PRECEDING).
- –í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ —É–∫–∞–∑–∞—Ç—å –ø–æ–ª—É—á–µ–Ω–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –¥–ª—è **conventional** –∞–≤–æ–∫–∞–¥–æ –∑–∞ **17/04/16**.

In [ ]:
SELECT
        date,
        average_price,
        region,
        type,
        AVG(average_price) OVER w   AS rolling_price
FROM avocado
WHERE region IN ('NewYork')
    WINDOW w AS
        (
        PARTITION BY type
        ORDER BY date ASC
        ROWS BETWEEN 2 PRECEDING AND CURRENT ROW 
        )
ORDER BY
    type ASC

04/01/15	1.09	
NewYork
conventional
1.09	
11/01/15	1.34	
NewYork
conventional
1.22	
18/01/15	1.37	
NewYork
conventional
1.27	
25/01/15	1.36	
NewYork
conventional
1.36	
01/02/15	1.36	
NewYork
conventional
1.36	
08/02/15	1.11	
NewYork
conventional
1.28

##### –û–¢–í–ï–¢: 1.16