# 5 УРОК ЧАСТЬ 2

ПОДЗАПРОСЫ, ПРЕДСТАВЛЕНИЯ, СОЗДАНИЕ ТАБЛИЦ

## 1

### Сопоставьте операторы с соответствующим описанием

DROP TABLE    Удалить таблицу
INSERT INTO   Записать данные в таблицу
ADD COLUMN    Добавить столбец
DELETE WHERE  Удалить строки, где выполняется условие
DROP COLUMN   Удалить столбец

## 2

In [ ]:
Напишите запрос для создания таблицы со следующими параметрами, также подобрав подходящий тип данных.

Название таблицы: reviews
База данных: test
Столбцы:
- listing_id – идентификатор объявления, может быть только положительным и целым числом, 32-битный тип данных

- id – идентификатор хозяина, может быть только положительным и целым числом, 32-битный тип данных

- created_at – дата со временем (2020-01-01 00:00:00), часовой пояс – 'Europe/Moscow'

- reviewer_id – идентификатор ревьюера, может быть только положительным и целым числом, 32-битный тип данных

- reviewer_name – имя того, кто оставил отзыв

- comments - текст отзыва

Движок: MergeTree
Сортировка: listing_id, id
Пригодится:

CREATE TABLE – документация 
Int32, UInt32 – документация
DateTime('Europe/Moscow') – документация
Note: вы можете потренироваться, создав таблицу с другим названием. Например, reviews_ваше_имя.

#### ЭТО в TABIX

CREATE TABLE test.reviews_s_kamsarin  (

    listing_id UInt32,
    id UInt32,
    created_at DateTime('Europe/Moscow'),
    reviewer_id UInt32,
    reviewer_name String,
    comments String
)
ENGINE = MergeTree
ORDER BY (listing_id, id)

### ОТВЕТ: в LMS
    
CREATE TABLE test.reviews  
(

    listing_id[uint32],
    id[uint32],
    created_at[DateTime('Europe/Moscow')],
    reviewer_id[uint32],
    reviewer_name[string],
    comments[string]
ORDER BY (listing_id, id)

)ENGINE = MergeTree

## 3

In [ ]:
К вам пришел коллега с новостями: оказывается, в поле created_at будет записываться только дата, без времени, 
    
поэтому нужно изменить тип данных!

Напишите запрос, который модифицирует тип данных, и введите его в поле ниже без кавычек и лишних пробелов. 

Не забудьте указать базу данных test перед названием таблицы! 

ALTER TABLE listings_copy 
    MODIFY COLUMN host_id UInt64

###### Ответ в LMS:
    
    ALTER TABLE test.reviews MODIFY COLUMN created_at Date

###### Для Clickhouse

ALTER TABLE test.reviews_s_kamsarin

MODIFY COLUMN created_at Date

## 4

Предположим, ваш коллега вставил данные, но что-то перепутал. Часть строк с комментариями осталась совершенно пустой! 

Напишите запрос, который удалит из таблицы test.reviews те строки, где в столбце comments встречаются пустые значения (''). 

Введите его в поле ниже без кавычек и лишних пробелов.

In [ ]:
# ALTER TABLE listings_copy 
#     DELETE WHERE room_type='Private room'

###### Ответ в LMS:
ALTER TABLE test.reviews DELETE WHERE comments=''

###### Для Clickhouse

ALTER TABLE test.reviews_s_kamsarin

DELETE WHERE comments=''

## 5

###### С помощью какого запроса можно создать обычное представление над таблицей test.reviews, 

которое будет содержать все записи из test.reviews, 

сгруппированные по reviewer_id с подсчитанным количеством отзывов (id) на каждого пользователя?

- **Как решить это задание**
    
    В этом задании нужно выбрать запрос, который создает обычное (не материальное - значит, нужно использовать оператор `CREATE VIEW`) представление над таблицей `test.reviews`
    
    Это представление будет содержать все записи из `test.reviews`, сгруппированные по `reviewer_id`с подсчитанным количеством отзывов (`id`) на каждого пользователя.
    
- **Синтаксис оператора** `CREATE VIEW`

CREATE VIEW ios_installs AS 
(
SELECT
		column_name,
    COUNT(...),
		... 
FROM 
    table_name
GROUP BY 
		...
)

###### ОТВЕТ: 
    
CREATE VIEW test.reviews_number AS (SELECT reviewer_id, COUNT(id) reviews_count FROM test.reviews GROUP BY reviewer_id)

## 6

##### С помощью какого запроса можно создать новый столбец reviewer_score в таблице reviews после столбца reviewer_name?

In [ ]:
- **Как решить это задание**
    
    В этом задании нужно выбрать запрос, с помощью которого можно создать новый столбец `reviewer_score`
    
    в таблице `reviews` после столбца `reviewer_name`. 
    
    `ADD COLUMN` – добавить колонку.
    
- **Синтаксис оператора** `ADD COLUMN`

ALTER TABLE table_name 
		ADD COLUMN column_2 column_type AFTER column_2

###### ОТВЕТ:
    
    ALTER TABLE test.reviews ADD COLUMN reviewer_score UInt8 AFTER reviewer_name

## 7

###### Напишите запрос для добавления в таблицу test.reviews колонки price после колонки comments, 

которая может быть числом с плавающей точкой, 32-битный тип данных.

##### Clickhouse

ALTER TABLE test.reviews_s_kamsarin

ADD COLUMN price Float32 AFTER comments

###### ОТВЕТ в LMS

ALTER TABLE test.reviews ADD COLUMN price Float32 AFTER comments

## 8

##### Напишите запрос, который удвоит price для всех строк с датой (created_at) после 2019-01-01.

Обратите внимание, что для сравнения с датой в формате '2019-01-01' можно не преобразовывать данные в колонке created_at.

In [ ]:
- **Как решить это задание**
    
    В этом задании нужно написать запрос, который удвоит `price` для всех строк с датой (`date`) после 2019-01-01.
    
    Обратите внимание, что для сравнения с датой в формате '2019-01-01' можно не преобразовывать данные в колонке `date`.
    
    Ответ необходимо ввести без лишних пробелов между операциями умножения и сравнения.
    
- **Синтаксис оператора** `UPDATE`

    
    `UPDATE WHERE` –  обновляет строки для которых выполняется указанное условие. 
    
    ```sql
    
    ALTER TABLE test.installs_mt 
        UPDATE InstallCost = InstallCost * 2 WHERE Platform = 'iOS'
    ```
    
    Этот запрос удвоит значения `InstallCost` для платформы iOS.

###### ОТВЕТ в LMS

ALTER TABLE test.reviews UPDATE price=price*2 WHERE created_at>'2019-01-01'